$color-white: #ffffff;
$color-grey-dark: #333333;
$color-grey-lighter: #f3f3f3;
$color-primary: #b4da55;

$anim-base-easing: ease;
$anim-base-duration: .3s;

.iframe {
    width: 100%;
    position: relative;
    border: 1px solid $color-grey-lighter;
    overflow: hidden;
    height: 31.25rem;
    background-color: $color-white;
}

.iframe-status {
    font-size: 1rem;
    height: auto;
    color: $color-grey-dark;
    display: inline-block;
    background-color: rgba($color-grey-lighter, 0.7);
    padding: .5rem .8rem;
    width: 5.625rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.iframe-status #pixels,
.iframe #rems {
    width: 1.875rem;
    display: inline-block;
}

.iframe .handle {
    width: 1rem;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    background-color: $color-grey-lighter;
    transition: background-color $anim-base-duration $anim-base-easing;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: fill $anim-base-duration $anim-base-easing;

        * {
            fill: $color-grey-dark;
        }
    }

    &.active,
    &:hover {
        background-color: $color-primary;

        svg {
            * {
                fill: $color-white;
            }
        }
    }
}
